.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 20px;
  color: #222;
}

h2 {
  color: #222;
  font-size: 50px;
  margin-top: 30px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #222;
  background-color: black;
  color: #fff;
  width: 160px;
  padding: 20px 60px;
  border-radius: 4px;
  cursor: pointer;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  width: 100%;
}

.images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
