.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

h1 {
  text-align: center;
  margin-top: 80px;
  color: blue;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin-top: 40px;
  background-color: green;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #dddddd;
  background-color: transparent;
  width: 160px;
  padding: 20px 60px;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer input {
  width: 100%;
  visibility: hidden;
}

form label {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
}

form button {
  margin-top: 30px;
  width: 80px;
  height: 36px;
  background-color: #000;
  color: #fff;
  border: none;
}
